@model ASPMVCApp.Models.ApplicationType


<form method="post" asp-action="Create"><h2>Add Application Type</h2>
    <label asp-for="Name"></label><input asp-for="Name"/>
    <input type="submit" value="CreateApplicationType"/>
</form>